<.header>
  <%= @title %>
</.header>

<.shuttle_form
  form={@form}
  action={@form_action}
  http_action={@http_action}
  gtfs_disruptable_routes={@gtfs_disruptable_routes}
  shapes={@shapes}
/>

<.back navigate={~p"/shuttles"}>Back to shuttles</.back>
