<.header>
  New Shape
  <:subtitle>Use this form to manage shape records in your database.</:subtitle>
</.header>

<.shape_form changeset={@changeset} action={~p"/shapes"} />

<.back navigate={~p"/shapes"}>Back to shapes</.back>
