<.header>
  New Shapes
  <:subtitle>Use this form to manage shape records in your database.</:subtitle>
</.header>
<.simple_form :let={f} for={@shapes_upload} action={~p"/shapes_upload"} multipart>
  <.input field={f[:filename]} type="file" label="Filename" required="true"/>
  <:actions>
    <.button>Upload File</.button>
  </:actions>
</.simple_form>
<.back navigate={~p"/shapes"}>Back to shapes</.back>
