<.header>
  Shape <%= @shape.id %>
  <:subtitle>This is a shape record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/shapes/#{@shape}/edit"}>
      <.button>Edit shape</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @shape.name %></:item>
  <:item title="Path"><%= @shape.path %></:item>
</.list>

<.back navigate={~p"/shapes"}>Back to shapes</.back>
