<.header>
  Shape <%= @shape.id %>
  <:subtitle>This is a shape record from your database.</:subtitle>
</.header>

<%= react_component("Components.ShapeViewMap", %{}) %>

<.list>
  <:item title="Name"><%= @shape.name %></:item>
  <:item title="Path"><%= @shape.path %></:item>
</.list>

<.back navigate={~p"/shapes"}>Back to shapes</.back>
