export DATABASE_USERNAME=postgres
export DATABASE_PASSWORD=postgres
export ARROW_DOMAIN=https://arrow.mbta.com
export ARROW_API_KEY=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export KEYCLOAK_ISSUER=https://login-dev.mbtace.com/auth/realms/MBTA
export KEYCLOAK_API_BASE=https://login-dev.mbtace.com/auth/admin/realms/MBTA/
export KEYCLOAK_CLIENT_ID=arrow-dev
export KEYCLOAK_CLIENT_UUID=bd84a8e2-2fce-4c7a-bfe3-3c7ac71fb5b2
export KEYCLOAK_CLIENT_SECRET=