<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Arrow</title>
    <%= tag :link, rel: "stylesheet", href: Routes.static_path(@conn, "/assets/app.css") %>
  </head>

  <body>
    <nav class="container navbar navbar-expand navbar-light bg-light">
      <div class="navbar-brand">
        <a href="/" class="m-header__arrow">
          <%= img_tag(Routes.static_path(@conn, "/images/logo.svg"), width: "34", height: "34") %>
          <span class="m-header__arrow-text">ARROW</span>
        </a>
      </div>

      <div class="m-header__long-name navbar-text justify-content-end navbar-collapse collapse">
        Adjustments to the Regular Right of Way
      </div>
    </nav>

    <main class="container">
      <%= @inner_content %>
    </main>
    <%= content_tag(:script, "", type: "text/javascript", src: Routes.static_path(@conn, "/assets/app.js")) %>
  </body>
</html>
