<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Arrow</title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="container">
      <div>
        <div>
          <nav class="navbar navbar-expand navbar-light bg-light">
            <span class="navbar-brand">
              <a href="/" class="m-header__arrow">
                <img src="/images/logo.svg" width="34" height="34">
                <span class="m-header__arrow-text">ARROW</span>
              </a>
            </span>
            <div class="justify-content-end navbar-collapse collapse">
              <span class="navbar-text">
                <span class="m-header__long-name">Adjustments to the Regular Right of Way</span>
              </span>
            </div>
          </nav>
        </div>
        <%= @inner_content %>
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
