<.header>
  New Stop
  <:subtitle>Use this form to manage stop records in your database.</:subtitle>
</.header>

<.stop_form changeset={@changeset} action={~p"/stops"} />

<.back navigate={~p"/stops"}>Back to stops</.back>
