<.header>
  new shuttle
</.header>

<.shuttle_form
  changeset={@changeset}
  action={~p"/shuttles"}
  gtfs_disruptable_routes={@gtfs_disruptable_routes}
  shapes={@shapes}
/>

<.back navigate={~p"/shuttles"}>Back to shuttles</.back>
