.m-disruption-table {
  td,
  th {
    border-bottom: none;
    border-top: 1px solid $dark;
    vertical-align: middle;
  }
}

.m-disruption-table__sortable {
  cursor: pointer;
  padding-right: 1rem;
  position: relative;

  .m-disruption-table__sortable-indicator {
    color: $grey;
  }
  &.active {
    .m-disruption-table__sortable-indicator {
      color: $dark;
    }
  }
}
