.m-disruption-table {
  th {
    white-space: nowrap;
  }

  th,
  td {
    border-bottom: none;
    border-top: 1px solid $dark;
    vertical-align: middle;
  }
}

.m-disruption-table__sortable {
  cursor: pointer;
  padding-right: 1rem;
  position: relative;

  .m-disruption-table__sortable-indicator {
    color: $grey;
  }
  &.active {
    .m-disruption-table__sortable-indicator {
      color: $dark;
    }
  }
}

.m-disruption-table__status-indicator {
  min-width: 150px;
  pointer-events: none;
}
