.m-forms__sublegend {
  font-weight: bold;
}

.m-forms__day-of-week-bubble {
  & input {
    display: none;
  }

  & label {
    border: 1px solid #dd3159;
    border-radius: 1.25rem;
    color: #dd3159;
    height: 2rem;
    padding-top: 0.2rem;
    text-align: center;
    width: 4rem;
  }

  & input:checked + label {
    background-color: #dd3159;
    color: white;
  }
}
