$black: #1e2127;
$blue-grey: #9fa9c3;
$grey: #aeaeae;
$light-grey: #fbeaee;
$light-pink: #fbeaee;
$primary: #dd3159;
$secondary: $blue-grey;
$dark: $black;

$theme-colors: (
  "light-pink": $light-pink,
);

$btn-hover-color: #fbeaee;
$btn-border-radius: 10rem;
