/* Tweaks to base elements on all pages */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "InterBlack";
  src: url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 400;
}

fieldset {
  margin-top: 1rem;
}

body {
  font-family: "Inter";
  font-size: 18px;
}

hr {
  border-top: 1px solid var(--black);
}

.light-hr {
  border-top: 1px solid #9fa9c3;
}

.btn-link:hover,
a:hover {
  text-decoration: none;
}

h4 {
  font-weight: 700;
}
