.fc-h-event {
  /* replace colored border with padding */
  border: none;
  padding: 2px;
}

.fc-event.route-none {
  background-color: #fff;
  border: 2px dashed #ccc;
  padding: 0;
}

.fc-event.route-none .fc-event-title {
  color: #aaa;
}

.fc-event.status-pending .fc-event-title {
  color: #1e2127;
}

.fc-event.status-approved.route-Red {
  background-color: #da291c;
}

.fc-event.status-pending.route-Red {
  background-color: #f4bfbb;
}

.fc-event.status-approved.route-Blue {
  background-color: #003da5;
}

.fc-event.status-pending.route-Blue {
  background-color: #b3c5e4;
}

.fc-event.status-approved.route-Orange {
  background-color: #ed8b00;
}

.fc-event.status-pending.route-Orange {
  background-color: #f9d6a6;
}

.fc-event.status-approved.route-Mattapan {
  background-color: #da291c;
}

.fc-event.status-pending.route-Mattapan {
  background-color: #f4bfbb;
}

.fc-event.status-approved[class*="route-Green"] {
  background-color: #00843d;
}

.fc-event.status-pending[class*="route-Green"] {
  background-color: #cce6d8;
}

.fc-event.status-approved[class*="route-CR"] {
  background-color: #80276c;
}

.fc-event.status-pending[class*="route-CR"] {
  background-color: #d98fd3;
}
