.m-disruption-details__header {
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  margin-bottom: 1.5rem;
}

.m-disruption-details__header h5 {
  font-weight: 700;
  line-height: 0.75;
  margin-left: 2rem;
}

.m-disruption-details__deletion-indicator {
  background-color: var(--light-grey);
  border: 1px solid var(--blue-grey);
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1rem 0;
}

.m-disruption-details_flex {
  display: flex !important;
  gap: 1rem;
}

.m-disruption-details_approval-status {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.25rem;
}

.m-disruption-details_approval-status-info {
  color: #dd3159;
  background-color: #fbeaee;
  border-color: #dd3159;
}
