.legend-square {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

.color-da291c {
  background-color: #da291c;
}

.color-003da5 {
  background-color: #003da5;
}

.color-ffc72c {
  background-color: #ffc72c;
}

.color-00843d {
  background-color: #00843d;
}

.color-ed8b00 {
  background-color: #ed8b00;
}

.color-7c878e {
  background-color: #7c878e;
}

.color-494f5c {
  background-color: #494f5c;
}

.color-003383 {
  background-color: #003383;
}

.color-80276c {
  background-color: #80276c;
}

.color-008eaa {
  background-color: #008eaa;
}

.color-52bbc5 {
  background-color: #52bbc5;
}
