<.header>
  New Shuttle route stops
  <:subtitle>Use this form to manage shuttle_route_stops records in your database.</:subtitle>
</.header>

<.shuttle_route_stops_form changeset={@changeset} action={~p"/shuttle_route_stops"} />

<.back navigate={~p"/shuttle_route_stops"}>Back to shuttle_route_stops</.back>
