<article class="mb-4">
  <header class="m-note__header">
    <h4 class="m-note__author"><%= @note.author %></h4>
    <div class="m-note__timestamp"><%= format_date(@note.inserted_at) %></div>
  </header>
  <%= @note.body %>
</article>
