<%= form_tag Routes.disruption_path(@conn, :create), method: "post", class: "col-lg-8" do %>
  <hr />
  <h1>create new disruption</h1>

  <%= render("_form.html",
    adjustments: @adjustments,
    cancel_confirmation: "Discard all entered data?",
    cancel_path: Routes.disruption_path(@conn, :index),
    changeset: @changeset,
    conn: @conn
  ) %>
<% end %>
