<hr />

<.header>
  {@title}
</.header>

<hr />

<h2>Disruption</h2>

<.disruption_form
  id="disruption_v2_form"
  form={@form}
  action={@form_action}
  disruption_v2={@disruption_v2}
  limit={@limit}
  limit_form={@limit_form}
  icon_paths={@icon_paths}
  errors={@errors}
  adding_new_service?={@adding_new_service?}
  show_limit_form?={@show_limit_form?}
/>
