<hr />

<.header>
  create new disruption
</.header>

<hr />

<h2>Disruption</h2>

<.live_component
  module={ArrowWeb.DisruptionFormComponent}
  id="foobar"
  form={@form}
  disruption_v2={@disruption_v2}
  icon_paths={@icon_paths}
  action={:create}
/>
