<._header logout_url={Plug.Conn.get_session(@conn, :logout_url)} view="app" />

<main class="container">
  <._flash flash={@flash} />
  <%= @inner_content %>
</main>

<._footer />

<%= content_tag(:script, "", type: "text/javascript", src: ~p"/assets/app.js") %>
