<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
   <!-- <meta name="csrf-token" content={get_csrf_token()} /> -->

    <!-- icons thanks to Twemoji, see /icons/about.txt -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <title>Arrow</title>
    <%= tag :link, rel: "stylesheet", href: ~p"/assets/app.css" %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= @inner_content %>
  </body>
</html>
