<.header>
  New Shuttle route
  <:subtitle>Use this form to manage shuttle_route records in your database.</:subtitle>
</.header>

<.shuttle_route_form changeset={@changeset} action={~p"/shuttle_routes"} />

<.back navigate={~p"/shuttle_routes"}>Back to shuttle_routes</.back>
